openapi: 3.2.0
info:
  title: Språkbanken Text Metadata Metadata retrieval API
  description: 'This API provides a quick way to retrieve a list of resources (corpora, lexicons, models, analyses, and utilities)

    available at Språkbanken Text.'
  contact:
    name: Språkbanken Text
    url: https://spraakbanken.gu.se/
    email: sb-info@svenska.gu.se
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: 3.3.1
servers:
- url: https://ws.spraakbanken.gu.se/ws/metadata/v3
  description: Production server
- url: https://ws.spraakbanken.gu.se/ws/metadata/dev
  description: Development server
tags:
- name: Metadata retrieval
  description: Endpoints for retrieving metadata about resources
paths:
  /:
    get:
      tags:
      - Metadata retrieval
      summary: List all resources
      description: 'List metadata for all resources, all resources of a given type or a single resource by ID.


        Refer to the `/schema` endpoint for the exact JSON schema of the metadata.'
      operationId: list_resources__get
      parameters:
      - name: resource-type
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/ResourceTypes'
          - type: 'null'
          title: Resource type
          enum:
          - corpus
          - lexicon
          - model
          - analysis
          - utility
          - collection
        example: corpus
      - name: resource
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Resource ID
        example: attasidor
      - name: legacy
        in: query
        required: false
        schema:
          type: boolean
          description: If true, use legacy response format ('corpora' instead of 'corpus' etc.).
          default: true
          title: Legacy
        description: If true, use legacy response format ('corpora' instead of 'corpus' etc.).
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllResouresList'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /list-ids:
    get:
      tags:
      - Metadata retrieval
      summary: List resource IDs
      description: List all resource IDs.
      operationId: list_ids_list_ids_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
                title: Response List Ids List Ids Get
  /bibtex:
    get:
      tags:
      - Metadata retrieval
      summary: Get BibTeX citation
      description: Return bibtex citation as text.
      operationId: bibtex_bibtex_get
      parameters:
      - name: resource
        in: query
        required: true
        schema:
          type: string
          title: Resource ID
        example: attasidor
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BibtexResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /corpora:
    get:
      tags:
      - Metadata retrieval
      summary: List corpus
      description: 'List all resources of type ''corpus''.


        Please use `/?resource-type=corpus` route instead.


        Refer to the /schema endpoint for the exact JSON schema of the metadata.'
      operationId: resource_list_corpora_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceList'
      deprecated: true
  /lexicons:
    get:
      tags:
      - Metadata retrieval
      summary: List lexicon
      description: 'List all resources of type ''lexicon''.


        Please use `/?resource-type=lexicon` route instead.


        Refer to the /schema endpoint for the exact JSON schema of the metadata.'
      operationId: resource_list_lexicons_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceList'
      deprecated: true
  /models:
    get:
      tags:
      - Metadata retrieval
      summary: List model
      description: 'List all resources of type ''model''.


        Please use `/?resource-type=model` route instead.


        Refer to the /schema endpoint for the exact JSON schema of the metadata.'
      operationId: resource_list_models_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceList'
      deprecated: true
  /analyses:
    get:
      tags:
      - Metadata retrieval
      summary: List analysis
      description: 'List all resources of type ''analysis''.


        Please use `/?resource-type=analysis` route instead.


        Refer to the /schema endpoint for the exact JSON schema of the metadata.'
      operationId: resource_list_analyses_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceList'
      deprecated: true
  /utilities:
    get:
      tags:
      - Metadata retrieval
      summary: List utility
      description: 'List all resources of type ''utility''.


        Please use `/?resource-type=utility` route instead.


        Refer to the /schema endpoint for the exact JSON schema of the metadata.'
      operationId: resource_list_utilities_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceList'
      deprecated: true
  /collections:
    get:
      tags:
      - Metadata retrieval
      summary: List collections
      description: 'List all resource collections.


        Refer to the `/schema` endpoint for the exact JSON schema of the metadata.'
      operationId: list_collections_collections_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionsList'
      deprecated: true
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    AllResouresList:
      properties:
        corpus:
          items:
            $ref: '#/components/schemas/Resource'
          type: array
          title: Corpus
          description: List of corpus resources
        lexicon:
          items:
            $ref: '#/components/schemas/Resource'
          type: array
          title: Lexicon
          description: List of lexicon resources
        model:
          items:
            $ref: '#/components/schemas/Resource'
          type: array
          title: Model
          description: List of model resources
        analysis:
          items:
            $ref: '#/components/schemas/Resource'
          type: array
          title: Analysis
          description: List of analysis resources
        utility:
          items:
            $ref: '#/components/schemas/Resource'
          type: array
          title: Utility
          description: List of utility resources
      type: object
      required:
      - corpus
      - lexicon
      - model
      - analysis
      - utility
      title: AllResouresList
      description: List of all metadata resources, grouped by resource type.
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    Resource:
      properties:
        id:
          type: string
          title: Id
          description: Unique identifier for the resource
          examples:
          - attasidor
        type:
          type: string
          title: Type
          description: Type of the resource
          examples:
          - corpus
          - lexicon
          - model
          - analysis
          - utility
        name:
          anyOf:
          - additionalProperties:
              type: string
            type: object
          - type: 'null'
          title: Name
          description: Name of the resource in multiple languages
          examples:
          - en: 8 SIDOR
            sv: 8 SIDOR
        short_description:
          anyOf:
          - additionalProperties:
              type: string
            type: object
          - type: 'null'
          title: Short Description
          description: Short description of the resource in multiple languages
          examples:
          - en: News articles from 8 SIDOR.
            sv: Nyhetsartiklar från 8 SIDOR.
      additionalProperties: true
      type: object
      required:
      - id
      - type
      title: Resource
      description: Metadata resource; keep permissive.
    ResourceList:
      properties:
        resource_type:
          type: string
          title: Resource Type
          description: Type of the resources
          examples:
          - corpus
          - lexicon
          - model
          - analysis
          - utility
        hits:
          type: integer
          title: Hits
          description: Number of resources in the list
          examples:
          - 42
        resources:
          items:
            $ref: '#/components/schemas/Resource'
          type: array
          title: Resources
      type: object
      required:
      - resource_type
      - hits
      - resources
      title: ResourceList
      description: List of metadata resources.
    CollectionsList:
      properties:
        hits:
          type: integer
          title: Hits
          description: Number of collections in the list
          examples:
          - 5
        resources:
          items:
            $ref: '#/components/schemas/Resource'
          type: array
          title: Resources
      type: object
      required:
      - hits
      - resources
      title: CollectionsList
      description: List of resource collections.
    BibtexResponse:
      properties:
        bibtex:
          type: string
          title: Bibtex
          description: BibTeX citation as text
          examples:
          - "@misc{attasidor,\n  doi = {10.23695/f6ds-f045},\n  url = {https://spraakbanken.gu.se/resurser/attasidor},\n            \n  author = {Språkbanken Text},\n  keywords = {Language Technology (Computational Linguistics)},\n            \n  language = {swe},\n  title = {8 Sidor},\n  publisher = {Språkbanken Text},\n  year = {2024}\n}"
      type: object
      required:
      - bibtex
      title: BibtexResponse
      description: Response model for BibTeX entries.
    ResourceTypes:
      type: string
      enum:
      - corpus
      - lexicon
      - model
      - analysis
      - utility
      - collection
      title: ResourceTypes
