openapi: 3.2.0
info:
  title: Sparv Analysis API
  description: 'Sparv is Språkbanken’s annotation tool and contains a corpus import pipeline

    and a web service including a web interface.

    It can be used to annotate shorter texts using the same tools as are applied

    in the annotation of the corpora in Korp and the texts in

    Strix.


    You can read more about Sparv on Språkbanken''s web page.'
  x-logo:
    url: https://ws.spraakbanken.gu.se/ws/sparv/v3/static/sparv_frame.png
  contact:
    name: Språkbanken
    url: https://spraakbanken.gu.se/
    email: sb-info@svenska.gu.se
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: '3.0'
servers:
- url: https://ws.spraakbanken.gu.se/ws/sparv/v3
  description: Production server
- url: https://ws.spraakbanken.gu.se/ws/sparvlabb/v3
  description: Lab version
tags:
- name: Analysis
  description: '### Queries for Annotating Texts


    The default query for the text analysis can be sent as GET or POST requests.'
paths:
  /:
    get:
      tags:
      - Analysis
      summary: Default query
      description: 'When provided with the text parameter this call handles text input and runs the Sparv analysis.


        ### Example


        `/?text=En+exempelmening+till+nättjänsten`'
      parameters:
      - name: text
        in: query
        required: true
        description: The text to be analysed
        schema:
          type: string
      - $ref: '#/components/parameters/ModeParam'
      - $ref: '#/components/parameters/IncrementalParam'
      - $ref: '#/components/parameters/LanguageParam'
      - $ref: '#/components/parameters/SettingsParam'
      responses:
        '200':
          description: Text analysis in XML
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisSchema'
        '500':
          description: Failed to run analysis
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralError'
      operationId: getRoot
      x-operation-id-source: derived
    post:
      tags:
      - Analysis
      summary: Default query
      description: 'When provided with the text parameter this call handles text input and runs the Sparv analysis.


        ### Example


        ```.bash

        curl -X POST --data-binary text="En exempelmening till nättjänsten" https://ws.spraakbanken.gu.se/ws/sparv/v3/

        ```'
      parameters:
      - name: text
        in: query
        required: true
        description: The text to be analysed
        schema:
          type: string
      - $ref: '#/components/parameters/ModeParam'
      - $ref: '#/components/parameters/IncrementalParam'
      - $ref: '#/components/parameters/LanguageParam'
      - $ref: '#/components/parameters/SettingsParam'
      responses:
        '200':
          description: Text analysis in XML
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisSchema'
        '500':
          description: Failed to run analysis
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralError'
      operationId: postRoot
      x-operation-id-source: derived
  /schema:
    get:
      tags:
      - Analysis
      summary: Schema
      description: 'Returns the json schema generated from the provided parameters.


        ### Example


        `/schema?language=sv&mode=plain`'
      parameters:
      - $ref: '#/components/parameters/ModeParam'
      - $ref: '#/components/parameters/LanguageParam'
      - $ref: '#/components/parameters/MinifyParam'
      responses:
        '200':
          description: OK (schema returned)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingsSchema'
        '500':
          description: Failed to return schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralError'
      operationId: getSchema
      x-operation-id-source: derived
  /makefile:
    get:
      tags:
      - Analysis
      summary: Makefile
      description: 'Returns the Makefile generated from the provided parameters.


        ### Example


        [`/makefile?settings={"positional_attributes":{"dependency_attributes":["ref","dephead","deprel"],"lexical_attributes":[],"compound_attributes":[]}}`](https://ws.spraakbanken.gu.se/ws/sparv/v3/makefile?settings={"positional_attributes":{"dependency_attributes":["ref","dephead","deprel"],"lexical_attributes":[],"compound_attributes":[]}})'
      parameters:
      - $ref: '#/components/parameters/ModeParam'
      - $ref: '#/components/parameters/IncrementalParam'
      - $ref: '#/components/parameters/LanguageParam'
      - $ref: '#/components/parameters/SettingsParam'
      responses:
        '200':
          description: OK (Makefile returned)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MakefileSchema'
        '500':
          description: Failed to return Makefile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralError'
      operationId: getMakefile
      x-operation-id-source: derived
  /join:
    get:
      tags:
      - Analysis
      summary: Join
      description: 'Joins an existing build.


        In the response of a text analysis you can find a hash number. This hash can be used to join an earlier build.


        The response contains the chosen settings, the original text and the result of the annotation.'
      parameters:
      - $ref: '#/components/parameters/IncrementalParam'
      - $ref: '#/components/parameters/HashParam'
      responses:
        '200':
          description: The settings, original input text and text analysis in XML
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JoinSchema'
        '500':
          description: Failed to join build
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralError'
      operationId: getJoin
      x-operation-id-source: derived
components:
  schemas:
    MakefileSchema:
      type: object
      properties:
        makefile:
          type: string
          example: 'include $(SPARV_MAKEFILES)/Makefile.config

            corpus = untitled

            original_dir = original


            vrt_columns_annotations = word pos msd baseform lemgram sense complemgram compwf sentiment sentimentclass ref dephead.ref deprel

            vrt_columns             = word pos msd lemma    lex     sense complemgram compwf sentiment sentimentclass ref dephead     deprel


            vrt_structs_annotations = sentence.id paragraph.n text text.lix text.ovix text.nk

            vrt_structs             = sentence:id paragraph   text text:lix text:ovix text:nk


            xml_elements    = text

            xml_annotations = text


            token_chunk = sentence

            token_segmenter = better_word


            sentence_chunk = paragraph

            sentence_segmenter = punkt_sentence


            paragraph_chunk = text

            paragraph_segmenter = blanklines


            include $(SPARV_MAKEFILES)/Makefile.rules

            '
    GeneralError:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
              example: Some error message
    JoinSchema:
      type: object
      properties:
        settings:
          $ref: '#/components/schemas/SettingsSchema'
        original:
          type: string
          example: '&lt;text&gt;En exempelmening till nättjänsten&lt;/text&gt;'
        analysis:
          $ref: '#/components/schemas/AnalysisSchema'
    SettingsSchema:
      type: object
      example:
        corpus: exempelkorpus
        lang: sv
        textmode: plain
        word_segmenter: default_tokenizer
        sentence_segmentation:
          sentence_chunk: paragraph
          sentence_segmenter: default_tokenizer
        paragraph_segmentation:
          paragraph_segmenter: blanklines
        positional_attributes:
          lexical_attributes:
          - pos
          - msd
          - lemma
          - lex
          - sense
          compound_attributes:
          - complemgram
          - compwf
          dependency_attributes:
          - ref
          - dephead
          - deprel
          sentiment:
          - sentiment
        named_entity_recognition: []
        text_attributes:
          readability_metrics:
          - lix
          - ovix
          - nk
    AnalysisSchema:
      type: object
      properties:
        build:
          type: object
          properties:
            hash:
              type: string
              example: ece7233cc6fface3adeef4bfc5dc1e9fdfd94488
        result:
          type: object
          properties:
            link:
              type: string
              example: https://ws.spraakbanken.gu.se/ws/sparv/v3/download?hash=ece7233cc6fface3adeef4bfc5dc1e9fdfd94488
            analysis:
              type: string
              example: "<corpus>\n  <text lix=\"54.00\" ovix=\"inf\" nk=\"inf\">\n    <paragraph>\n        <sentence id=\"8f7-84d\">\n            <w pos=\"DT\" msd=\"DT.UTR.SIN.IND\" lemma=\"|en|\" lex=\"|en..al.1|\" sense=\"|den..1:-1.000|en..2:-1.000|\" complemgram=\"|\" compwf=\"|\" sentiment=\"\" sentimentclass=\"\" ref=\"1\" dephead=\"2\" deprel=\"DT\">En</w>\n            <w pos=\"NN\" msd=\"NN.UTR.SIN.IND.NOM\" lemma=\"|exempelmening|\" lex=\"|\" sense=\"|\" complemgram=\"|exempel..nn.1+mening..nn.1:1.090e-08|\" compwf=\"|exempel+mening|\" sentiment=\"\" sentimentclass=\"\" ref=\"2\" dephead=\"\" deprel=\"ROOT\">exempelmening</w>\n            <w pos=\"PP\" msd=\"PP\" lemma=\"|till|\" lex=\"|till..pp.1|\" sense=\"|till..1:-1.000|\" complemgram=\"|\" compwf=\"|\" sentiment=\"\" sentimentclass=\"\" ref=\"3\" dephead=\"2\" deprel=\"ET\">till</w>\n            <w pos=\"NN\" msd=\"NN.UTR.SIN.DEF.NOM\" lemma=\"|nättjänst|nättjänsten|\" lex=\"|\" sense=\"|\" complemgram=\"|nät..nn.1+tjänst..nn.2:5.711e-11|nät..nn.1+tjänst..nn.1:5.711e-11|nätt..av.1+tjänst..nn.1:1.004e-12|nätt..av.1+tjänst..nn.2:1.004e-12|nät..nn.1+tjäna..vb.1+sten..nn.2:2.049e-27|nät..nn.1+tjäna..vb.1+sten..nn.1:2.049e-27|nätt..av.1+tjäna..vb.1+sten..nn.2:4.784e-28|nätt..av.1+tjäna..vb.1+sten..nn.1:4.784e-28|\" compwf=\"|nät+tjänsten|nätt+tjänsten|nät+tjän+sten|nätt+tjän+sten|\" sentiment=\"\" sentimentclass=\"\" ref=\"4\" dephead=\"3\" deprel=\"PA\">nättjänsten</w>\n        </sentence>\n    </paragraph>\n  </text>\n</corpus>\n"
  parameters:
    HashParam:
      name: hash
      in: query
      required: true
      description: Hash of the analysis
      schema:
        type: string
    MinifyParam:
      name: minify
      in: query
      required: false
      description: If set to true, some attributes needed for the frontend will be excluded from the response.
      schema:
        type: boolean
        default: false
    LanguageParam:
      name: language
      in: query
      required: false
      description: 'The language of the text to be analysed.

        Check [this language table](https://spraakbanken.gu.se/eng/research/infrastructure/sparv/distribution/pipeline#language_table) for more information.

        '
      schema:
        type: string
        default: sv
        enum:
        - it
        - de
        - sv-1800
        - bg
        - ca
        - ru
        - nl
        - pl
        - fr
        - es
        - sv-dev
        - ro
        - la
        - sk
        - pt
        - sl
        - et
        - fi
        - gl
        - en
        - sv
        - 'no'
    SettingsParam:
      name: settings
      in: query
      required: false
      description: The settings to be used for the analysis. Must satisfy a shema retrieved from [Schema](#tag/Analysis/paths/~1schema/get).
      schema:
        $ref: '#/components/schemas/SettingsSchema'
    ModeParam:
      name: mode
      in: query
      required: false
      description: The input mode
      schema:
        type: string
        default: plain
        enum:
        - plain
        - xml
        - file
    IncrementalParam:
      name: incremental
      in: query
      required: false
      description: 'Set to `true` if you want to receive more information on how the analysis is being processed.

        Note: Incremental information can only be displayed if your query is run for the first time.

        The progress information is not available for older builds.

        '
      schema:
        type: boolean
        default: false
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: secret_key
